.card {
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e7eb;

  &--shadow {
    box-shadow:
      0 1px 3px 0 rgb(0 0 0 / 0.1),
      0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  &--padding-none {
    padding: 0;
  }

  &--padding-sm {
    padding: 12px;
  }

  &--padding-md {
    padding: 16px;
  }

  &--padding-lg {
    padding: 24px;
  }
}
