<nav class="day-navigator">
  <div class="days-container">
    @for (day of days; track day) {
      <button
        type="button"
        class="day-tab"
        [class.selected]="isSelected(day)"
        [class.today]="isToday(day)"
        [class.has-routine]="hasRoutine(day)"
        (click)="selectDay(day)"
      >
        <span class="day-abbr">{{ dayAbbreviations[day] }}</span>
        @if (isToday(day)) {
          <span class="today-dot"></span>
        }
        @if (hasRoutine(day) && !isSelected(day)) {
          <span class="routine-indicator"></span>
        }
      </button>
    }
  </div>
</nav>
